<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.cs.entity"/>
    </typeAliases>
    <!--链接数据库环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/smbms"/>
                <property name="username" value="root"/>
                <property name="password" value="114514"/>
            </dataSource>
        </environment>
    </environments>
    <!--引入映射文件-->
    <mappers>
<!--        <mapper resource="mapper/Smbms_AddressMapper.xml"></mapper>-->
<!--        <mapper resource="mapper/Smbms_BillMapper.xml"></mapper>-->
<!--        <mapper resource="mapper/Smbms_ProviderMapper.xml"></mapper>-->
<!--        <mapper resource="mapper/Smbms_RoleMapper.xml"></mapper>-->
<!--        <mapper resource="mapper/Smbms_UserMapper.xml"></mapper>-->
        <mapper class="com.cs.mapper.Smbms_AddressMapper"></mapper>
        <mapper class="com.cs.mapper.Smbms_BillMapper"></mapper>
        <mapper class="com.cs.mapper.Smbms_ProviderMapper"></mapper>
        <mapper class="com.cs.mapper.Smbms_RoleMapper"></mapper>
        <mapper class="com.cs.mapper.Smbms_UserMapper"></mapper>
    </mappers>


</configuration>