<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<!--<mapper namespace="com.cs.mapper.Smbms_AddressMapper">-->
<!--    <select id="findAllAddress" resultType="Smbms_Address">-->
<!--        select * from smbms_address-->
<!--    </select>-->
<!--</mapper>-->